<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<br>
<body style="font-family: gotham;">
<br><h2 style="text-align: center; font-family: gotham;"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg> Habitação Disponível </h2><br><hr>
<div class = "container">

<a href="/">
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
    </svg>
</a>

</div>

<% list.forEach( home => { %>
    
  <div class = "cardGeneral">
    <div class="information"> <br> 
      <h1><%= home.type %></h1>
      <h5 style = 'font-family: gotham light; font-weight: 600'>Cidade: <%= home.city %> (<%= home.state %>)</h5>
      <h5 style = 'font-family: gotham light; font-weight: 600'>Local: Rua <%= home.street %> - <%= home.neighborhood %> (<%= home.city %>/<%= home.state %>)</h5>
      <h5 style = 'font-family: gotham light; font-weight: 600'>Número: <%= home.number %></h5>
      <h5 style = 'font-family: gotham light; font-weight: 600'>Quantidade de quartos: <%= home.roomsAmount %></h5>
      <h5 style = 'font-family: gotham light; font-weight: 600'>Tamanho: <%= home.squareMeters %>m²</h5>
      <p class="card-text"><small class="text-muted" style="font-family: gotham light; font-size: 15px;">Disponível desde: <%= moment(home.createdAt,'YYYY-MM-DD').format('DD/MM/YYYY'); %> | <%= moment(home.createdAt).locale('PT').format('LT'); %>  </small></p> 
      <a class = "btn btnCompatible" href="/habitation/compability/<%= home.id %>" style="color: white;">Imigrantes compatíveis</a> 
      <button class = "btn idBtnHabitation" onmouseover = "effect()" style="margin-left: 520px; border-radius: 30px; color: white; margin-top: -10px; height: 60px; width: 120px; font-size: 20px; font-family: Gotham regular;" id = "codeID">ID: <%= home.id %></button>  
    </div> 
  </div> <br><br>
  
<% }) %>



  


</body>
<%- include('../partials/footer.ejs'); %>