<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<body style="font-family: Roboto;" >

    <div class="container"> <br> <br> 
        <h1>Relatórios</h1> <hr> <br>
        <h5 style="font-family: Roboto light">Relação entre imigrantes e seus dados.</h5> 

        <table class="table table-bordered table-hover" id = "peopleTable" style="text-align: center;">
            <thead>
              <tr class = "table" style="background-color:rgba(10, 241, 106, 0.507);">
                <th scope="col">Média da idade geral</th>
                <th scope="col">Imigrantes cadastrados</th>
                <th scope="col">Sexo masculino</th>
                <th scope="col">Sexo feminino</th>
                <th scope="col">Menores de idade</th>
              </tr>
            </thead>
            <tbody>
              <tr style="font-family: Gotham light">
                <td id = "mediaIdade"> <%= ageAverage %> anos </td>
                <td id = "cadastrados"> <%= tamanho %> </td>
                <td id = "male"> <%= maleFound %> </td>
                <td id = "female"> <%= femaleFound %> </td>
                <td id = "kids"> <%= criancas %> </td>
              </tr>
            </tbody>
          </table>

         <br> 

         <!-- Helpers table -->
         <h5 style="font-family: Roboto light">Relação entre helpers (ajudadores) e seus dados.</h5>

         <table class="table table-bordered table-hover"  style="text-align: center;">
          <thead>
            <tr class = "table" style="background-color:rgba(10, 241, 106, 0.507);">
              <th scope="col">Ajudadores cadastrados</th>
              <th scope="col">Ajuda com emprego</th>
              <th scope="col">Ajuda com estudo</th>
              <th scope="col">Ajuda com moradia</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-family: Gotham light">
              <td> <%= helperAmount %> </td>
              <td> <%= jobHelpAmount %> </td>
              <td> <%= studyingHelpAmount %> </td>
              <td> <%= habitationHelpAmount %> </td>
            </tr>
          </tbody>
        </table>

        <div class="form-inline" style="display: block;">
          <h6 style="text-align: right; float: right;">Atualizado em: <%= moment().format('DD/MM/YYYY') %></h6>

<div class = 'container'> <br> <br> 
        <h1> Gráficos </h1> <br>
        <!-- Chart -->
        <canvas id="myChart" width="400" height="150"></canvas>

        <script>

          var mediaIdade = $("#peopleTable #mediaIdade").text();
          mediaIdade = mediaIdade.split(' ');
          const cadastrados = $("#peopleTable #cadastrados").text();
          const masculino = $("#peopleTable #male").text();
          const feminino = $("#peopleTable #female").text();
          const kids = $("#peopleTable #kids").text();

          const ctx = document.getElementById('myChart').getContext('2d');
          
          const chartGraph = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ["Média da idade geral","Imigrantes cadastrados", "Sexo masculino", "Sexo feminino", "Menores de idade"],
              datasets: [
                {
                label: "Dados imigrantes",
                data: [mediaIdade[1], cadastrados, masculino, feminino, kids],
                borderWidth: 1,
                backgroundColor: [
                'rgba(153, 102, 255)',
                'rgba(255, 206, 86, 1)',
                'rgba(54, 162, 235)',
                'rgba(255, 99, 132, 1)',
                ]
              }
            ]
            }
          })
        </script> <br>

<input class="btn btn-primary" type="button" name="imprimir" value="Imprimir" onclick="window.print();">
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
  Saiba mais  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
    <circle cx="8" cy="4.5" r="1"/>
  </svg>
</button> <br> <br>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Observações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <p> Esse relatório se refere aos imigrantes atualmente cadastrados no <i style="font-style: normal; font-weight: bold;">Nexum</i>
           bem como suas informações: a média da idade geral, a quantidade de imigrantes do sexo masculino e feminino e, dentre eles, quantos
           são menores de idade. Esse relatório também envolve os dados dos ajudadores tais como: a quantidade de registros, quantos ajudam com emprego, moradia
           e/ou habitação.
         </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
    

</body>

<!-- 
<script>

  axios({
  method: 'get',
  url: 'http://localhost:3000/helper/reports',
  responseType: 'json'
}).then( (helperData) => {
  console.log(helperData.data.helperAmount);
});

</script> -->


<%- include('../partials/footer.ejs'); %>